*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: red;
    color: white;
    height: 4em;
    max-width: 100vw;
    display: flex;
}
img{
    height: 50px;
    width: 50px;
    background-size: contain;   
    border-radius: 50%;
    margin: 7px 5px 0px 10px;
}
nav div input{
    outline: none;
    margin-left: 2vw;
    height: 35vh;
    width: 12vw;
    position: relative;
    top: 15px;
    float: left;
    color: white;
    padding: 0 0 0 12px;
    border-radius: 25px 0 0 25px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-right: none;
    background-color: rgba(255, 255, 255, 0.3);
}
::placeholder{
    color: white;
}
nav div button{
    all: unset;
    float: left;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    height: 35vh;
    width: 27px;
    position: relative;
    top: 15px;
    padding-left: 10px;
    border-radius: 0 25px 25px 0;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-left: none;
    cursor: pointer;
}

.btn{
    text-decoration: none;
    position: absolute;
    right: 5%;
    top: 31%;
    color: white;
    margin-right: 8vw;
    font-weight: 100;
}

#profile{
    display: flex;
    position: absolute;
    right: 1.2%;
    top: 20%;
    color: blue;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 0 0 0;
    border-radius: 50%;
    border: 2px solid black;
}