*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.9);
}
.head{
    height: 100vh;
    border-right: 1px solid white;
}
.head button{
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    width: 100%;
}
#all, #pizza, #burger, #icecream, #cake{
    height: 70px;
}
#all1, #pizza1, #burger1, #icecream1, #cake1{
    /* width: 90vw;
    height: 12vh; */
    width: 60px;
    height: 60px;
    border-radius: 0;
    /* background: rgba(255, 255, 255, 0.2); */
    transition: background 0.5s;
}
hr{
    background-color: white;
}
.head button.disable{
    background: rgba(0, 0, 0, 0.9);
}
/* a :hover{
    background-color: rgba(255, 255, 255, 0.2);
} */
